body {
  background-color: antiquewhite;
}
h1 {
  background-color: #7172a9;
  color: lightblue;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
  padding: 10px 0 ;
  display: block;
}
p {
  text-indent: 30px;
  line-height: 1.5;
  font-size: 16px;
  color: royalblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li {
  color: cornflowerblue;
  font-size: 12px;
  font-family: cursive;
}

/*Latihan Hover*/
a:link{
  color: midnightblue;
}
a:visited{
  color: green;
}
a:hover{
  color: orange;
}
a:active{
  color: red;
}
.button{
  border-radius: 5px;
  border: none;
  background-color: midnightblue;
  color: #ffff;
  text-align: center;
  font-size: 28px;
}
.button:hover {background-color: orange;}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px rebeccapurple;
}

/*Latihan Terakhir*/
* body {
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  
  /* mengubah font untuk semua bagian */
}

table {
  border-collapse: collapse;
  /* untuk mengurangi jarak antara kolom dan baris */
}

thead, tr, td {
  width: 50px;
  /* mengubah panjang td pada turunan thead */
  border-bottom: 1px solid #ffffff;
  /* mengubah style border bagian bawah */
}

tbody, tr, td {
  width: 100px;
  /* mengubah panjang td pada turunan tbody */
}

.ganjil{
  background-color:  #81CFE0;
  /* setting background color untuk baris yang memiliki angka ganjil */
}

.genap {
  background-color: #435c62;
  color: #ffffff;
  /* setting warna font dan background color untuk baris yang memiliki angka ganjil */
}

tr :hover{
  color: #bdbdbd;
  background-color: #7172a9;
  cursor: pointer;
  /* mengubah settingan teks pada tiap objek yang di sentuh oleh cursor */
}